{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
{% load static %}
<section class="container pt-5 pb-5">
    <h4 class="mb-5">Администрация</h4>


    <div class="administration-item d-flex flex-row align-items-center justify-content-around mb-5 pt-5 pb-5">
        <div>
            <p>Помыткин Александр Викторович</p>
            <p>И.О. Главного врача</p>
            <p class="mb-0">тел. (3822) 41-47-85,</p>
            <p>факс (3822) 41-97-62</p>
            <p>Прием граждан по личным вопросам каждый понедельник с 15.00 до 16.00</p>
        </div>

        <img src="{% static 'main/img/administration/Pomitkin.png' %}" alt="Помыткин Александр Викторович">

    </div>
    <div class="administration-item d-flex flex-row align-items-center justify-content-around mb-5 pt-5 pb-5">
        <div>
            <p>Кондаурова Татьяна Алексеевна</p>
            <p>Заместитель главного врача по МЧ</p>
            <p>тел. (3822) 41-98-63</p>
            <p>Прием граждан по личным вопросам каждую среду с 12.00 до 13.00</p>
        </div>
        <img src="{% static 'main/img/administration/KondaurovaTA.jpg' %}" alt="Кондаурова Татьяна Алексеевна">
    </div>
    <div class="administration-item d-flex flex-row align-items-center justify-content-around mb-5 pt-5 pb-5">
        <div>
            <p>Таукина Наталья Валериевна</p>
            <p>Заместитель главного врача по поликлиническому разделу работы</p>
            <p>тел. (3822) 41-91-64</p>
            <p>Прием граждан по личным вопросам каждую пятницу с 11.00 до 12.00</p>
        </div>
        <img src="{% static 'main/img/administration/TaukinaNV.jpg' %}" alt="Таукина Наталья Валериевна">
    </div>
    <div class="administration-item d-flex flex-row align-items-center justify-content-around mb-5 pt-5 pb-5">
        <div>
            <p>Казакова Елена Владимировна</p>
            <p>Начальник экспертного отдела</p>
            <p>тел. (3822) 41-98-66</p>
            <p>Прием граждан по личным вопросам каждую среду с 14.00 до 15.00</p>
        </div>
        <img src="{% static 'main/img/administration/KazakovaEV.jpg' %}" alt="Казакова Елена Владимировна">
    </div>
    <div class="administration-item d-flex flex-row align-items-center justify-content-around mb-5 pt-5 pb-5">
        <div>
            <p>Соляник Ольга Олеговна</p>
            <p>Заместитель главного врача по экономическим вопросам</p>
            <p>тел. (3822) 41-48-23</p>
        </div>
        <img src="{% static 'media/images/administration/Colyanik.jpg' %}" alt="Соляник Ольга Олеговна">
    </div>
    <div class="administration-item d-flex flex-row align-items-center justify-content-around mb-5 pt-5 pb-5">
        <div>
            <p>Романова Анастасия Васильевна</p>
            <p>Главный бухгалтер</p>
            <p>тел. (3822) 42-60-80</p>
        </div>
        <img src="{% static 'media/images/administration/Romanova.jpg' %}" alt="Романова Анастасия Васильевна">
    </div>
    <div class="administration-item d-flex flex-row align-items-center justify-content-around mb-5 pt-5 pb-5">
        <div>
            <p>Неверов Василий Васильевич</p>
            <p>Заместитель главного врача по общим вопросам</p>
            <p>тел. (3822) 41-68-71</p>
            <p>Прием граждан по личным вопросам каждый вторник с 15.00 до 16.00</p>
        </div>
        <img src="{% static 'main/img/administration/NeverovVV.jpg' %}" alt="Неверов Василий Васильевич">
    </div>
    <div class="administration-item d-flex flex-row align-items-center justify-content-around mb-5 pt-5 pb-5">
        <div>
            <p>Казанцев Вячеслав Витальевич</p>
            <p>Начальник хозяйственного отдела</p>
            <p>тел. (3822) 41-68-71</p>
        </div>
        <img src="media/images/administration/KazancevVV.jpg" alt="Казанцев Вячеслав Витальевич">
    </div>
</section>
{% endblock %}


