{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="container pb-5 pt-5">
    <h4 class="text-uppercase mb-5 pb-3">БЕРЕЖЛИВАЯ ПОЛИКЛИНКА</h4>
    <div class="mb-4">
        <p class="fw-bold">Уважаемые пациенты!</p>
        <p>
            Наша поликлиника участвует в реализации федерального пилотного проекта «Бережливая поликлиника»,
            который направлен на создание доброжелательной и комфортной среды в учреждении.
        </p>
    </div>
    <div class="mb-4">
        <p class="fw-bold">Что такое «Бережливая поликлиника»?</p>
        <p>
            «Бережливая поликлиника» — совместный проект Министерства здравоохранения Российской Федерации и
            государственной корпорации «Росатом». Его цель — оптимизация работы поликлиник, снижение времени
            пребывания в учреждении, разделение потоков пациентов и упрощение записи на прием к врачу.
        </p>
    </div>
    <div class="mb-4">
        <p class="fw-bold">Какие меры будут реализованы в рамках проекта?</p>
        <p>Мероприятия для повышения эффективности работы поликлиники:</p>
        <ul>
            <li>запись на прием через интернет;</li>
            <li>изменение принципов работы с картами пациентов (введение электронных карт);</li>
            <li>исключение повторного обращения в регистратуру;</li>
            <li>перераспределение потоков пациентов.</li>
        </ul>
    </div>
    <div class="mb-4">
        <p class="fw-bold">Ожидаемый результат:</p>
        <ul>
            <li>сокращение времени пребывания пациента в поликлинике.</li>
            <li>повышение комфортности ожидания.</li>
        </ul>
    </div>
    <div class="mb-4">
        <p>
            Ждем Ваши предложения по улучшению качества медицинской помощи на электронный адрес taukina@gb3.ru
            Также предложения можно оставить в ящике для предложений, который находится в холле I этажа на
            стойке страховой компании.
        </p>
        <a href="https://www.rosminzdrav.ru/poleznye-resursy/proekt-berezhlivaya-poliklinika">Проект Бережливая
            Поликлиника</a>
    </div>
</section>
{% endblock %}


