{% extends 'main/layout.html' %}

{% block title %}Клинические исследования{% endblock %}

{% block content %}
<section class="container pb-5 pt-5">
    <h4 class="text-uppercase mb-5">КЛИНИЧЕСКИЕ ИССЛЕДОВАНИЯ</h4>
    <h5>Отдел клинических исследований ОГАУЗ «Городская клиническая больница №3 им. Б. И. Альперовича»</h5>
    <div>
        <p class="fw-bold">Цель деятельности:</p>
        <p>
            Создание условий для реализации межведомственных, междисциплинарных, научно-технологических
            взаимодействий и привлечения финансирования в части проведения клинических исследований изделий
            медицинского назначения, что в свою очередь, приведет к развитию производства и укреплению тренда
            импортзамещения в отрасли здравоохранения на территории Российской Федерации в целом.
        </p>
    </div>
    <div>
        <p class="fw-bold">Наши преимущества:</p>
        <ul>
            <li>
                ОГАУЗ «Городская клиническая больница №3 им. Б. И. Альперовича» в настоящее время является одной
                из самых крупных больниц в Томске и Томской области и представляет собой современный центр научного
                и практического здравоохранения. Больница располагается в 5 корпусах, общей площадью 16 тыс. кв. м.
                Городская клиническая больница №3 — это стационар на 385 коек, дневной стационар на 26 коек, и
                амбулаторно-поликлинические отделения, обслуживающие более 45000 прикрепленного населения. В составе
                стационара — 9 лечебных отделений: общей хирургии, гнойной хирургии, оториноларингологии, урологии,
                терапии, гастроэнтерологии, неврологии и инфекции. Также в составе имеются отделения анестезиологии
                и реанимации, ультразвуковой диагностики, физиотерапии, эндоскопии, функциональной диагностики и иные
                вспомогательные отделения и службы. Отделения больницы являются клиническими базами восьми кафедр
                СибГМУ:
                хирургических болезней, ЛОР-болезней, внутренних болезней, инфекционных болезней, общей врачебной
                практики,
                неврологии и нейрохирургии, клинической психологии и психотерапии, поликлинической терапии. На базе
                больницы
                работает межрегиональный Сибирский гепатологический центр (открыт в 1978 году по приказу Министерства
                здравоохранения РСФСР). В больнице работает более 900 человек. Среди специалистов работающих в больнице
                (166 врачей и 262 медицинских сестер) 15 профессоров, 14 докторов медицинских наук, 37 кандидатов
                медицинских наук, 11 отличников здравоохранения,4 сотрудника награждены Правительством РФ, 25 –
                почетными грамотами Министерства здравоохранения РФ, более 170 врачей и медсестер имеют высшую и
                первую квалификационные категории. В 2014 г. профессор Б.И. Альперович и профессор Н.В. Мерзликин
                стали лауреатами премии Правительства РФ в сфере науки, образования и здравоохранения.
            </li>
            <li>
                С 2013 года ОГАУЗ «Городская клиническая больница №3 им. Б. И. Альперовича» на основании
                свидетельства об аккредитации на право проведения клинических исследований лекарственных
                препаратов для медицинского применения, выданное Министерством здравоохранения 14.02.2014 г.)
                активно участвует в клинических исследованиях лекарственных средств
                (в том числе и на международном уровне).
            </li>
            <li>
                С 2014 года ОГАУЗ «Городская клиническая больница №3 им. Б. И. Альперовича» является действующим
                участником инновационного территориального кластера «Фармацевтика, медицинская техника и
                информационные технологии» в Томской области.
            </li>
            <li>
                В 2015, приказом Федеральной службы по надзору в сфере здравоохранения №5421 от 31.07.2015 ОГАУЗ
                «Городская клиническая больница №3 им. Б .И. Альперовича» включено в Перечень медицинских организаций,
                проводящих клинические испытания медицинских изделий.
            </li>
            <li>
                В 2015 году, нами был заключен Договор о стратегическом партнерстве с
                Федеральным государственным автономным образовательным учреждением высшего
                профессионального образования «Национальный исследовательский Томской государственный университет»
                в том числе и в части проведения клинических исследований лекарственных средств и изделий
                медицинского назначения.
            </li>
        </ul>
    </div>
    <div>
        <p class="fw-bold">Предлагаем услуги:</p>
        <ul>
            <li>
                По проведению оценки соответствия медицинского изделия в форме клинических
                испытаний с участием и без участия человека;
            </li>
            <li>
                По проведению оценки соответствия медицинского изделия для диагностики
                in vitro в форме клинических испытаний;
            </li>
            <li>
                По проведению клинических исследований лекарственных средств.
            </li>
        </ul>
    </div>
    <div>
        <p class="fw-bold">Контакты:</p>
        <ul>
            <li>Телефон: +7 (3822) 41-68-71</li>
            <li>Факс: +7 (3822) 41-97-62</li>
            <li>Электронная почта: admin@gb3.ru</li>
        </ul>
    </div>
</section>
{% endblock %}


