{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="container pb-5 pt-5">
    <h4 class="text-uppercase mb-5">Контакты</h4>
    <div>
        <p class="fw-bold">Поликлиника:</p>
        <ul>
            <li>Регистратура: 90-43-04</li>
            <li>Зав. терап. отд. поликлиники 41-98-46</li>
            <li>Приемный покой: 41-87-91</li>
            <li>Приемный покой (инфекционное отделение): 41-98-71</li>
            <li>Приемный покой (оториноларингологическое отделение): 41-98-47</li>
        </ul>
    </div>
    <div>
        <p class="fw-bold">Приемная главного врача:</p>
        <ul>
            <li>Секретарь: 41-47-85</li>
        </ul>
    </div>
    <div>
        <p class="fw-bold">Отделения:</p>
        <ul>
            <li>Гастроэнтерологическое отделение: 41-98-62</li>
            <li>ЛОР отделение: 41-98-47</li>
            <li>Инфекционное отделение: 41-87-74</li>
            <li>Отделение анестезиологии и реанимации: 41-93-71</li>
            <li>Отделение гнойной хирургии: 42-65-25</li>
            <li>Пульмонологическое отделение: 41-98-57</li>
            <li>Рентгенологическое отделение: 41-96-93</li>
            <li>Терапевтическое отделение: 41-98-59</li>
            <li>Урологическое отделение: 25-53-22</li>
            <li>Эндоскопическое отделение: 41-97-60, 41-87-78</li>
            <li>Хирургическое отделение: 41-98-53</li>
            <li>Физиотерапевтическое отделение: 41-97-45</li>
            <li>Отделение ультразвуковой диагностики: 41-98-55</li>
        </ul>
    </div>
    <div class="mt-5 pt-5">
        <p class="fw-bold">Дежурные администраторы:</p>
        <table class="table">
            <tr>
                <td>ФИО</td>
                <td>Должность</td>
                <td>Номер телефона</td>
                <td>Дни недели</td>
            </tr>
            <tr>
                <td>Илюшенова Олеся Петровна</td>
                <td>Заведующая терапевтическим отделением поликлинического отделения №1</td>
                <td>(3822) 25-75-59</td>
                <td>
                    понедельник-пятница 9.00-15.00,
                    перерыв с 12.00-13.00
                </td>
            </tr>
            <tr>
                <td>Сиротюк Анастасия Александровна</td>
                <td>Заведующая терапевтическим отделением поликлинического отделения №1</td>
                <td>(3822) 25-75-59</td>
                <td>
                    понедельник-пятница 9.00-15.00,
                    перерыв с 12.00-13.00
                </td>
            </tr>
        </table>
    </div>
    <div class="mt-5 pt-5">
        <p class="fw-bold">Схема проезда:</p>
        <table class="table">
            <tr>
                <td>Адрес</td>
                <td>Остановка</td>
                <td>Маршруты наземного транспорта</td>
            </tr>
            <tr>
                <td>Нахимова, д 3</td>
                <td>«Горбольница №3»</td>
                <td>№ 4, № 22, № 26, № 30, № 32, № 53, № 130/60 автобус, № 33 (кольцевой)</td>
            </tr>
            <tr>
                <td>Пр. Ленина, д 12</td>
                <td>«Учебная»</td>
                <td>
                    № 4, № 19, № 22, № 26, № 29, № 30, № 32, №32а, №36, № 37, № 53, № 112, № 118, № 130/60, № 150, №
                    400, № 442, № 444, автобус, № 33 (кольцевой),
                    № 1 троллейбус
                </td>
            </tr>
        </table>
    </div>
    <div class="pt-5 pb-5">
        <div>
            <p class="fw-bold">Поликлиническое отделение №1</p>
            <iframe frameborder="no" style="border: 1px solid #a3a3a3; box-sizing: border-box;"
                    width="623" height="424"
                    src="https://widgets.2gis.com/widget?type=firmsonmap&amp;options=%7B%22pos%22%3A%7B%22lat%22%3A56.45371677474977%2C%22lon%22%3A84.9602258205414%2C%22zoom%22%3A16%7D%2C%22opt%22%3A%7B%22city%22%3A%22tomsk%22%7D%2C%22org%22%3A%22422740746052203%2C422740746051262%2C423196012849263%2C423196012849249%2C422740746228887%22%7D">
            </iframe>
        </div>
        <div>
            <p class="fw-bold">Поликлиническое отделение №2</p>
            <iframe frameborder="no"
                    style="border: 1px solid #a3a3a3; box-sizing: border-box;" width="623" height="424"
                    src="https://widgets.2gis.com/widget?type=firmsonmap&amp;options=%7B%22pos%22%3A%7B%22lat%22%3A56.46039209191169%2C%22lon%22%3A84.9501407146454%2C%22zoom%22%3A16%7D%2C%22opt%22%3A%7B%22city%22%3A%22tomsk%22%7D%2C%22org%22%3A%22422740746228888%22%7D">
            </iframe>
        </div>
    </div>
</section>
{% endblock %}


