{% extends 'main/layout.html' %}

{% block title %}История{% endblock %}

{% block content %}
<section class="container pt-5 pb-5">
    <h4 class="mb-5">ИСТОРИЯ</h4>
    <div>
        <p>
            Строительство больницы началось в марте 1965 г., а 27 марта 1968 г. состоялось ее открытие и, как
            рассказывают ветераны больницы, ее тогдашним сотрудникам многое приходилось делать своими руками: убирать
            строительный мусор, наводить чистоту, заносить и устанавливать оборудование, койки и мебель, в свободное от
            работы время высаживать в парке деревья.
        </p>
        <p>
            Первым был подготовлен к открытию главный корпус, где были развернуты хирургическое, терапевтическое,
            урологическое, неврологическое и травматологическое отделения, в состав которых входили и стоматологические
            койки. Кроме того, были подготовлены к работе приемное, рентгенологическое, физиотерапевтическое,
            лабораторное, административно- хозяйственное отделения и аптека.По мере подготовки помещений открылись:
            поликлиническое, затем ЛОР, глазное, ревматологическое и инфекционное отделения.В 1970 году была произведена
            реорганизация отделений больницы. Выделены в самостоятельные: стоматологическое и гастроэнтерологическое
            отделения. Создано эндоскопическое отделение.Наверное сегодня нет нужды глубоко уходить в историю больницы,
            тем не менее отметим, что на протяжении этих сорока лет она росла, развивалась, мужала и совершенствовалась
            по всем своим параметрам, по всему назначению – поддержке и охране здоровья жителей нашего города, да и всей
            нашей области в целом. Можно смело сказать, что в настоящее время это одно из крупных многопрофильных
            стационаров г. Томска. На сегодняшний день «Городская клиническая больница №3 им. Б. И. Альперовича» — это
            стационар на 415 коек и поликлиника, обслуживающая 45500 человек прикрепленного населения Кировского района
            г. Томска.Стационар оснащен современными приборами, аппаратурой и медицинским оборудованием. Постоянно
            ведется работа по внедрению в клиническую практику новых методов диагностики и лечения. Неуклонно растет
            качество медицинского обслуживания пациентов.
        </p>
    </div>
</section>
{% endblock %}


