{% extends 'main/layout.html' %}

{% block title %}Информация о закупках{% endblock %}

{% block content %}
{% load static %}
<section class="container pt-5 pb-5">
    <h4 class="mb-5">ИНФОРМАЦИЯ О ЗАКУПКАХ</h4>
    <div>
        <a href="{% static 'main/docx/inf_o_zacup/Перечень-изменений-в-Положение-о-закупке-СМП-утверждено-протоколом-№-1-от-18.02.2021-г..docx' %}">Перечень
            изменений в Положение о закупке (СМП) (утверждено протоколом № 1 от
            18.02.2021 г.)</a>
        <br>

        <a href="{% static 'main/docx/inf_o_zacup/Положение-о-закупке-ОГАУЗ-ГКБ-№-3-им.-Б.И.-Альперовича-СМП-утверждено-протоколом-№-от-18.02.2021-г..docx' %}">Положение
            о закупке ОГАУЗ ГКБ № 3 им. Б.И. Альперовича (СМП) (утверждено
            протоколом № от 18.02.2021 г.)</a>
        <br>

        <a href="{% static 'main/docx/inf_o_zacup/ПРИКАЗ-об-утверждении-перечня-товаров-для-СМП-на-2021-год-№-751-от-28.12.20-г..doc' %}">ПРИКАЗ (об утверждении перечня товаров для СМП на 2021 год) (№
            751 от 28.12.20
            г.)</a>
        <br>

        <a href="{% static 'main/docx/inf_o_zacup/Перечень-товаров-для-СМП-на-2021-год-Приказ-№-751-от-28.12.20-г..doc' %}">Перечень товаров для СМП на 2021 год (Приказ № 751 от 28.12.20
            г.)</a>
        <br>
    </div>
</section>
{% endblock %}


