{% extends 'main/layout.html' %}

{% block title %}Информация о закупках{% endblock %}

{% block content %}
{% load static %}
<section class="container pt-5 pb-5">
    <h4 class="mb-5">ИНФОРМАЦИЯ О ЗАКУПКАХ</h4>
    <div>
        <a href="{% static 'main/docx/inf_o_oms/П644а2021.pdf' %}">
            Постановление АдминистрацииТомской области от 30.12.2020 № 644а «Об утверждении областной Программы
            государственных гарантий бесплатного оказания гражданам медицинской помощи на территории Томской области на
            2021 год и на плановый период 2022 и 2023 годов»</a>
        <br>

        <a href="{% static 'main/docx/inf_o_oms/_ТО на 2020 П495а2 (2).pdf' %}">Постановление АдминистрацииТомской области от 26.12.2019 № 495а «Об
            утверждении областной Программы государственных гарантий бесплатного оказания гражданам медицинской помощи
            на территории Томской области на 2020 год и на плановый период 2021 и 2022 годов»
        </a>
        <br>

        <a href="https://www.ttfoms.tomsk.ru/document/9d65dbf3-8ada-4e79-9fb1-f63dd033813d">Постановление Администрации Томской области от 15.07.2019 № 254а «О
            внесении изменений в постановление Администрации Томской области от 29.12.2018 № 508а»</a>
        <br>

        <a href="{% static 'main/docx/inf_o_oms/postanovleniye_changes_06-02-2017.pdf' %}">Постановление Администрации Томской области от 06.02.2017 №30а «О
            внесении изменений в постановление Администрации Томской области от 25.12.2015 № 484а» Права пациентов</a>
        <br>
    </div>
</section>
{% endblock %}


