{% extends 'main/layout.html' %}

{% block title %}Информация для граждан о диспансеризации и порядке ее прохождения{% endblock %}

{% block content %}
<section class="container pb-3 pt-5">
    <h4 class="text-uppercase mb-5">ИНФОРМАЦИЯ ДЛЯ ГРАЖДАН О ДИСПАНСЕРИЗАЦИИ И ПОРЯДКЕ ЕЕ ПРОХОЖДЕНИЯ
    </h4>
    <div>
        <p class="fw-bold">Основные цели диспансеризации</p>
        <p>
            Раннее выявление хронических неинфекционных заболеваний, являющихся основной причиной инвалидности и
            преждевременной смертности населения Российской Федерации (далее — хронические неинфекционные заболевания),
            к которым относятся: </p>
        <ul>
            <li>болезни системы кровообращения и в первую очередь ишемическая болезнь сердца и цереброваскулярные
                заболевания;
            </li>
            <li>злокачественные новообразования;</li>
            <li>сахарный диабет;</li>
            <li>хронические болезни легких.</li>
        </ul>
    </div>
    <div>
        <p>Указанные болезни обуславливают более 75 % всей смертности населения нашей страны. Кроме
            того, диспансеризация направлена на выявление и коррекцию основных факторов риска развития указанных
            заболеваний, к которым относятся:</p>
        <ul>
            <li>повышенный уровень артериального давления;</li>
            <li>повышенный уровень холестерина в крови;</li>
            <li>повышенный уровень глюкозы в крови;</li>
            <li>курение табака;</li>
            <li>риск пагубного потребления алкоголя;</li>
            <li>нерациональное питание;</li>
            <li>низкая физическая активность;</li>
            <li>избыточная масса тела или ожирение.</li>
        </ul>
    </div>
    <div>
        <p>Важной особенностью диспансеризации является не только раннее выявление хронических неинфекционных
            заболеваний и факторов риска их развития, но и проведение всем гражданам, имеющим указанные факторы риска
            краткого профилактического консультирования, а также для лиц с высоким и очень высоким суммарным сердечно —
            сосудистым риском индивидуального углубленного и группового (школа пациента) профилактического
            консультирования.</p>
        <p>Такие активные профилактические вмешательства позволяют достаточно быстро и в значительной степени снизить
            вероятность развития у каждого конкретного человека опасных хронических неинфекционных заболеваний, а у лиц
            уже страдающих такими заболеваниями значительно уменьшить тяжесть течения заболевания и частоту развития
            осложнений.</p>
    </div>
    <div>
        <p class="fw-bold">Где и когда можно пройти диспансеризацию?</p>
        <p>Граждане проходят диспансеризацию в медицинской организации по месту жительства, работы, учебы или выбору
            гражданина, в которой они получают первичную медико — санитарную помощь (в поликлинике, в центре (отделении)
            общей врачебной практики (семейной медицины), во врачебной амбулатории, медсанчасти и др.).</p>
        <p>Ваш участковый врач (фельдшер) или участковая медицинская сестра или сотрудник регистратуры подробно
            расскажут Вам где, когда и как можно пройти диспансеризацию, согласуют с Вами ориентировочную дату (период)
            прохождения диспансеризации.</p>
    </div>
    <div>
        <p class="fw-bold">Сколько времени занимает прохождение диспансеризации?</p>
        <p>Прохождение обследования первого этапа диспансеризации как правило требует два визита. Первый визит занимает
            ориентировочно от 1 до 2 часов (объем обследования значительно меняется в зависимости от Вашего возраста).
            Второй визит проводится обычно через 1 -6 дней (зависит от длительности времени необходимого для получения
            результатов исследований) к участковому врачу для заключительного осмотра и подведения итогов
            диспансеризации.</p>
        <p>Если по результатам первого этапа диспансеризации у Вас выявлено подозрение на наличие хронического
            неинфекционного заболевания или высокий и очень высокий суммарный сердечно-сосудистый риск участковый врач
            сообщает Вам об этом и направляет на второй этап диспансеризации, длительность прохождения которого зависит
            от объема необходимого Вам дополнительного обследования.</p>
    </div>
    <div>
        <p class="fw-bold">Как пройти диспансеризацию работающему человеку?</p>
        <p>Согласно статьи 24 Федерального закона Российской Федерации от 21 ноября 2011 г. № 323- ФЗ «Об основах охраны
            здоровья граждан в Российской Федерации» работодатели обязаны обеспечивать условия для прохождения
            работниками медицинских осмотров и диспансеризации, а также беспрепятственно отпускать работников для их
            прохождения. Кроме того, в 2018 году Трудовой Кодекс РФ дополнен статьей 185.1 «Гарантии работникам при
            прохождении диспансеризации», согласно которой работники пенсионного и предпенсионного возрастов для
            прохождения диспансеризации имеют право на освобождение от работы на два рабочих дня один раз в год.</p>
    </div>
    <div>
        <p class="fw-bold">Какая подготовка нужна для прохождения диспансеризации: </p>
        <ul>
            <li>Для прохождения первого этапа диспансеризации желательно прийти в медицинскую организацию (поликлинику)
                утром, натощак.
            </li>
            <li>Лицам в возрасте с 40 до 75 исследование кала на скрытую кровь должно проводиться иммунохимическим
                методом, что не требует ограничений в приеме пищи (уточните применяемый метод исследования у своего
                участкового врача медсестры или в кабинете медицинской профилактики).
            </li>
            <li>Женщинам необходимо помнить, что забор мазков с шейки матки не проводится во время менструации, при
                проведении того или иного лечения инфекционновоспалительных заболеваний органов малого таза, что для
                снижения вероятности получения ложных результатов анализа мазка необходимо исключить половые контакты в
                течение 2-х суток перед диспансеризацией, отменить любые вагинальные препараты, спермициды, тампоны и
                спринцевания.
            </li>
            <li>Мужчинам которым назначено исследование простатспецифического антигена в крови (онкомаркер рака
                предстательной железы) необходимо помнить, что лучше воздержаться от проведения этого анализа в течение
                7-10 дней после любых воздействий на предстательную железу механического характера (ректальный осмотр,
                массаж простаты, клизмы, езда на лошади или велосипеде, половой акт, лечение ректальными свечами и др.)
                так как они могут исказить результат исследования.
            </li>
            <li>Если Вы в предыдущие 12 месяцев перед прохождением диспансеризации проходили медицинские исследования
                возьмите документы, подтверждающие этот факт, и покажите их медицинским работникам перед началом
                прохождения диспансеризации.
            </li>
            <li>Объем подготовки для прохождения второго этапа диспансеризации Вам объяснит участковый врач
                (фельдшер).
            </li>
        </ul>
    </div>
    <div>
        <p>Регулярное прохождение диспансеризации позволит Вам в значительной степени уменьшить вероятность развития
            наиболее опасных заболеваний сердечно-сосудистой системы, злокачественных новообразований (колоректального
            рака, рака шейки матки и грудной железы), сахарного диабета и хронических бронхолегочных заболеваний,
            являющихся основной причиной инвалидности и смертности населения нашей страны или выявить их на ранней
            стадии развития, когда их лечение наиболее эффективно.</p>
        <p>Записаться на прохождение диспансеризации можно по телефону 904-304, в личном кабинете на портале госуслуг
            или в регистратуре.</p>
    </div>
</section>
{% endblock %}



