{% extends 'main/layout.html' %}

{% block title %}Категории граждан, имеющих право на льготное лекарственное обеспечение{% endblock %}

{% block content %}
{% load static %}
<section class="container pb-5 pt-5">
    <h4 class="text-uppercase mb-5">КАТЕГОРИИ ГРАЖДАН, ИМЕЮЩИХ ПРАВО НА ЛЬГОТНОЕ ЛЕКАРСТВЕННОЕ ОБЕСПЕЧЕНИЕ</h4>
    <h5>Федеральные льготники</h5>
    <div>
        <p class="fw-bold">Категории граждан, имеющих право на льготное лекарственное обеспечение за счет средств
            федерального бюджета (бесплатное лекарственное обеспечение по Программе ОНЛС) в ОГАУЗ «ГКБ №3 им.
            Б.И.Альперовича»</p>

        <ol>
            <li>Инвалиды войны:</li>
            <ol>
                <li>участники Великой Отечественной войны, ставшие инвалидами;</li>
                <li>военнослужащие и лица рядового и начальствующего состава органов внутренних дел, Государственной
                    противопожарной службы, учреждений и органов уголовно-исполнительной системы, ставшие инвалидами
                    вследствие ранения, контузии или увечья, полученных при исполнении обязанностей военной службы
                    (служебных обязанностей);
                </li>
                <li>бывшие несовершеннолетние узники концлагерей, гетто, других мест принудительного содержания,
                    созданных фашистами и их союзниками в период второй мировой войны, признанные инвалидами вследствие
                    общего заболевания, трудового увечья и других причин (за исключением лиц, инвалидность которых
                    наступила вследствие их противоправных действий)
                </li>
            </ol>
            <br>
            <li>участники Великой Отечественной войны;</li>
            <ol>
                <li>приравненные к участникам Великой Отечественной войны бывшие несовершеннолетние узники концлагерей,
                    гетто, других мест принудительного содержания, созданных фашистами и их союзниками в период второй
                    мировой войны (п. 8 ст. 154 Закона от 22 августа 2004 г. N 122-ФЗ);
                </li>
            </ol>
            <br>
            <li>Ветераны боевых действий:</li>
            <ol>
                <li>военнослужащие, в том числе уволенные в запас (отставку), военнообязанные, призванные на военные
                    сборы, лица рядового и начальствующего состава органов внутренних дел и органов государственной
                    безопасности, работники указанных органов, работники Министерства обороны СССР и работники
                    Министерства обороны Российской Федерации, сотрудники учреждений и органов уголовно-исполнительной
                    системы, направленные в другие государства органами государственной власти СССР, органами
                    государственной власти Российской Федерации и принимавшие участие в боевых действиях при исполнении
                    служебных обязанностей в этих государствах, а также принимавшие участие в соответствии с решениями
                    органов государственной власти Российской Федерации в боевых действиях на территории Российской
                    Федерации;

                </li>
                <li>военнослужащие, в том числе уволенные в запас (отставку), военнообязанные, призванные на военные
                    сборы, лица рядового и начальствующего состава органов внутренних дел и органов государственной
                    безопасности, лица, участвующие в операциях при выполнении правительственных боевых заданий по
                    разминированию территорий и объектов на территории СССР и территориях других государств в период с
                    10 мая 1945 года по 31 декабря 1951 года, в том числе в операциях по боевому тралению в период с 10
                    мая 1945 года по 31 декабря 1957 года;

                </li>
                <li>военнослужащие автомобильных батальонов, направляющиеся в Афганистан в период ведения там боевых
                    действий для доставки грузов;
                </li>
                <li>военнослужащие летного состава, совершавшие с территории СССР вылеты на боевые задания в Афганистан
                    в период ведения там боевых действий;
                </li>
            </ol>
            <br>

            <li>военнослужащие, проходившие военную службу в воинских частях, учреждениях, военно-учебных заведениях, не
                входивших в состав действующей армии, в период с 22 июня 1941 года по 3 сентября 1945 года не менее
                шести месяцев, военнослужащие, награжденные орденами или медалями СССР за службу в указанный период;
            </li>
            <br>

            <li>лица, награжденные знаком «Жителю блокадного Ленинграда»;</li>
            <br>
            <li>лица, работавшие в период Великой Отечественной войны на объектах противовоздушной обороны, местной
                противовоздушной обороны, на строительстве оборонительных сооружений, военно-морских баз, аэродромов и
                других военных объектов в пределах тыловых границ действующих фронтов, операционных зон действующих
                флотов,
                на прифронтовых участках железных и автомобильных дорог, а также члены экипажей судов транспортного
                флота,
                интернированных в начале Великой Отечественной войны в портах других государств;
            </li>
            <br>
            <li> члены семей погибших (умерших) инвалидов войны, участников Великой Отечественной войны и ветеранов
                боевых действий;
            </li>

            <ol>
                <li>участники Великой Отечественной войны;</li>
                <li>
                    члены семей погибших в Великой Отечественной войне лиц из числа личного состава групп самозащиты
                    объектовых и аварийных команд местной противовоздушной обороны, а также члены семей погибших
                    работников
                    госпиталей и больниц города Ленинграда;
                </li>
                <li>приравненные к членам семей погибших (умерших) инвалидов войны, участников Великой Отечественной
                    войны и ветеранов боевых действий:
                </li>
                <li>члены семей военнослужащих, лиц рядового и начальствующего состава органов внутренних дел,
                    Государственной противопожарной службы, учреждений и органов уголовно-исполнительной системы и
                    органов государственной безопасности, погибших при исполнении обязанностей военной службы (служебных
                    обязанностей);
                </li>
                <li>члены семей военнослужащих, погибших в плену, признанных в установленном порядке пропавшими без
                    вести в районах боевых действий, со времени исключения указанных военнослужащих из списков воинских
                    частей;
                </li>
            </ol>
            <br>
            <li>инвалиды в зависимости от группы инвалидности:</li>
            <ol>
                <li>инвалиды 1 группы; инвалиды 2 группы; инвалиды 3 группы;</li>
            </ol>
            <br>
            <li>дети-инвалиды;</li>
            <br>
            <li>лица, подвергшиеся воздействию радиации вследствие катастрофы на Чернобыльской АЭС, а также вследствие
                ядерных испытаний на Семипалатинском полигоне, и приравненные к ним категории граждан.
            </li>
        </ol>

        <p class="fw-bold">Региональные льготники</p>
        <p class="fw-bold">Категория граждан, имеющих право на льготное лекарственное обеспечение за счет средств областного бюджета (по программе РЛО) в ОГБУЗ «ТООД»:</p>
        <p>1) Лица, страдающие онкологическими заболеваниями и не имеющие инвалидность.</p>
        <p class="fw-bold">Горячая линия Департамента здравоохранения Томской области по вопросам льготного лекарственного обеспечения: (3822) 516-027 </p>
    </div>
</section>
{% endblock %}


