{% extends 'main/layout.html' %}

{% block title %}Лекарственное обеспечение{% endblock %}

{% block content %}
{% load static %}
<section class="container pt-5 pb-5">
    <h4 class="mb-5">ЛЕКАРСТВЕННОЕ ОБЕСПЕЧЕНИЕ</h4>
    <div class="container pt-3">
        <a href="{% url 'kategorii_gragdan' %}">Категории граждан, имеющих право на льготное лекарственное
            обеспечение</a>
        <br><br>

        <a href="{% url 'poraydok_lekarstv' %}">Порядок лекарственного обеспечения льготных категорий граждан</a>
        <br><br>

        <a href="{% url 'spisok_aptek' %}">Список аптек льготного отпуска</a>
        <br><br>

        <p>Документ:</p>

        <a href="{% static 'main/docx/lecarstvenoe_obespechenie/jnvls.pdf' %}">Распоряжение Правительства РФ от 23.10.2017 N 2323-р Об утверждении перечня жизненно необходимых и важнейших
            лекарственных препаратов на 2018 год, перечня лекарственных препаратов для медицинского применения, перечня
            лекарственных препаратов, предназначенных для обеспечения лиц, больных гемофилией, муковисцидозом,
            гипофизарным нанизмом, болезнью Гоше, злокачественными новообразованиями лимфоидной, кроветворной и
            родственных им тканей, рассеянным склерозом, а также лиц после трансплантации органов и (или) тканей, а
            также минимального ассортимента лекарственных препаратов, необходимых для оказания медицинской помощи</a>
        <br><br>

        <a href="{% static 'main/docx/lecarstvenoe_obespechenie/perechen-lekarstvennyh-preparatov-2.pdf' %}">Перечень лекарственных препаратов и медицинских изделий в целях обеспечения граждан, страдающих заболеваниями
            или относящихся к группам населения, при амбулаторном лечении которых лекарственные препараты отпускаются по
            рецептам врачей (фельдшеров) бесплатно или с 50% скидкой за счет средств областного бюджета</a>
        <br><br>

    </div>
</section>
{% endblock %}

