{% extends 'main/layout.html' %}

{% block title %}Лицензия{% endblock %}

{% block content %}
{% load static %}
<section class="container d-flex flex-row flex-wrap pt-5 pb-5">
    <h4 class="pb-5">ЛИЦЕНЗИЯ</h4>
    <div class="d-flex flex-row">
        <a href="media/images/license/main1.jpg" class="lightzoom"><img src="{% static 'main/img/license/main1.jpg' %}"
                                                                        class="w-75"/></a>
        <a href="media/images/license/main2.jpg" class="lightzoom"><img src="{% static 'main/img/license/main2.jpg' %}"
                                                                        class="w-75"/></a>
        <a href="media/images/license/main3.jpg" class="lightzoom"><img src="{% static 'main/img/license/main3.jpg' %}"
                                                                        class="w-75"/></a>
    </div>
    <div class="d-flex flex-row">
        <a href="media/images/license/main4.jpg" class="lightzoom"><img src="{% static 'main/img/license/main4.jpg' %}"
                                                                        class="w-75"/></a>
        <a href="media/images/license/main5.jpg" class="lightzoom"><img src="{% static 'main/img/license/main5.jpg' %}"
                                                                        class="w-75"/></a>
        <a href="media/images/license/main6.jpg" class="lightzoom"><img src="{% static 'main/img/license/main6.jpg' %}"
                                                                        class="w-75"/></a>
    </div>
    <div class="d-flex flex-row">
        <a href="media/images/license/main7.jpg" class="lightzoom"><img src="{% static 'main/img/license/main7.jpg' %}"
                                                                        class="w-75"/></a>
        <a href="media/images/license/main8.jpg" class="lightzoom"><img src="{% static 'main/img/license/main8.jpg' %}"
                                                                        class="w-75"/></a>
        <a href="media/images/license/main9.jpg" class="lightzoom"><img src="{% static 'main/img/license/main9.jpg' %}"
                                                                        class="w-75"/></a>
    </div>
    <div class="d-flex flex-row">
        <a href="media/images/license/main10.jpg" class="lightzoom"><img
                src="{% static 'main/img/license/main10.jpg' %}"
                class="w-75"/></a>
        <a href="media/images/license/main11.jpg" class="lightzoom"><img
                src="{% static 'main/img/license/main11.jpg' %}"
                class="w-75"/></a>
        <a href="media/images/license/main12.jpg" class="lightzoom"><img
                src="{% static 'main/img/license/main12.jpg' %}"
                class="w-75"/></a>
    </div>
    <div class="d-flex flex-row">
        <a href="media/images/license/main13.jpg" class="lightzoom"><img
                src="{% static 'main/img/license/main13.jpg' %}"
                class="w-75"/></a>
        <a href="media/images/license/main14.jpg" class="lightzoom"><img
                src="{% static 'main/img/license/main14.jpg' %}"
                class="w-75"/></a>
        <a href="media/images/license/main15.jpg" class="lightzoom"><img
                src="{% static 'main/img/license/main15.jpg' %}"
                class="w-75"/></a>
    </div>
    <div class="d-flex flex-row">
        <a href="media/images/license/main16.jpg" class="lightzoom"><img
                src="{% static 'main/img/license/main16.jpg' %}"
                class="w-75"/></a>
        <a href="media/images/license/main17.jpg" class="lightzoom"><img
                src="{% static 'main/img/license/main17.jpg' %}"
                class="w-75"/></a>
    </div>
    <script type="text/javascript">jQuery('.lightzoom').lightzoom({
            speed: 400,
            viewTitle: true,
            isOverlayClickClosing: true
        });

    </script>
</section>
{% endblock %}


