{% extends 'main/layout.html' %}

{% block title %}Медико-социальная экспертиза{% endblock %}

{% block content %}
{% load static %}
<section class="container pb-5 pt-5">
    <h4 class="text-uppercase mb-5">МЕДИКО-СОЦИАЛЬНАЯ ЭКСПЕРТИЗА</h4>
    <div class="pb-5">
        <p class="fw-bold">Порядок направления на медико-социальную экспертизу.</p>
        <p>Гражданин направляется на медико-социальную экспертизу медицинской организацией независимо от ее
            организационно-правовой формы, органом, осуществляющим пенсионное обеспечение либо органом социальной защиты
            населения.
        </p>
        <p class="fw-bold">Медицинская организация направляет гражданина на медико-социальную экспертизу после
            проведения необходимых диагностических, лечебных и реабилитационных мероприятий при наличии данных,
            подтверждающих стойкое нарушение функций организма, обусловленное заболеваниями, последствиями травм или
            дефектами.</p>
        <p>При этом в направлении на медико-социальную экспертизу, форма которого утверждается Министерством
            здравоохранения Российской Федерации, указываются данные о состоянии здоровья гражданина, отражающие степень
            нарушения функций органов и систем, состояние компенсаторных возможностей организма, а также результаты
            проведенных реабилитационных или абилитационных мероприятий.</p>
        <p>В случае если медицинская организация, орган, осуществляющий пенсионное обеспечение, либо орган социальной
            защиты населения отказали гражданину в направлении на медико-социальную экспертизу, ему выдается справка, на
            основании которой гражданин (его законный представитель) имеет право обратиться в бюро самостоятельно.

        </p>
        <p>Специалисты бюро проводят осмотр гражданина и по его результатам составляют программу дополнительного
            обследования гражданина и проведения реабилитационных или абилитационных мероприятий, после выполнения
            которой рассматривают вопрос о наличии у него ограничений жизнедеятельности.</p>
        <p>Для определения показаний к установлению инвалидности, определения процента утраты трудоспособности
            вследствие профессионального заболевания или трудового увечья Вам необходимо обратиться к врачу-терапевту
            участковому или врачу-специалисту по профилю своего заболевания.</p>

    </div>
    <div>
        <p class="fw-bold">Перечень документов, необходимых для предоставления государственной услуги по проведению
            МСЭ</p>
        <p class="fw-bold">a) документы, удостоверяющие личность гражданина Российской Федерации:</p>
        <ul>
            <li>паспорт гражданина Российской Федерации (для гражданина Российской Федерации, достигшего 14 лет);</li>
            <li>дипломатический паспорт;</li>
            <li>служебный паспорт;</li>
            <li>временное удостоверение личности гражданина Российской Федерации, выдаваемое территориальным органом
                Федеральной миграционной службы до оформления паспорта;
            </li>
        </ul>
        <p class="fw-bold">б) документы, удостоверяющие личность иностранного гражданина в Российской Федерации:</p>
        <ul>
            <li>паспорт иностранного гражданина либо иной документ, установленный федеральным законом или признаваемый в
                соответствии с международным договором Российской Федерации в качестве документа, удостоверяющего
                личность иностранного гражданина;
            </li>
        </ul>

        <p class="fw-bold">в) документы, удостоверяющие личность лица без гражданства в Российской Федерации:</p>
        <ul>
            <li>документ, выданный иностранным государством и признаваемый в соответствии с международным договором
                Российской Федерацией в качестве документа, удостоверяющего личность лица без гражданства;
            </li>
            <li>разрешение на временное проживание;</li>
            <li>вид на жительство;</li>
            <li>удостоверение беженца;</li>
            <li>удостоверение вынужденного переселенца.</li>
        </ul>
        <p>Получателем государственной услуги могут представляться копии указанных документов, заверенные в соответствии
            с законодательством Российской Федерации.</p>

        <p class="fw-bold">г) заявление о предоставлении государственной услуги. </p>
        <p>Заявление подается в федеральное учреждение медико-социальной экспертизы на бумажном носителе либо в форме
            электронного документа с использованием ЕПГУ.

        </p>
        <p>Заявление должно быть подписано получателем государственной услуги.</p>
        <p>Заявление заполняется на русском языке, не допускается использование сокращений слов и аббревиатур. Образец
            заявления можно распечатать с официального сайта Федерального казенного учреждения « <a
                    href="https://www.70.gbmse.ru/">Главное бюро
                медико-социальной экспертизы по Томской области» Министерства труда и социальной защиты Российской
                Федерации</a>
            или получить у лечащего врача, оформляющего направление на медико-социальную экспертизу.</p>

        <p class="fw-bold">д) направление на медико-социальную экспертизу</p>
        <p>Выданное медицинской организацией, оказывающей лечебно-профилактическую помощь, по форме N 088/у-06, либо
            справка об отказе в направлении на медико-социальную экспертизу, выданная медицинской организацией,
            оказывающей лечебно-профилактическую помощь.</p>
        <p class="fw-bold">При предоставлении государственной услуги, результатом которой является определение степени
            утраты профессиональной трудоспособности пострадавшего в результате несчастного случая на производстве и
            профессионального заболевания,</p>
        <ul>
            <li class="fw-bold">получателем государственной услуги дополнительно предоставляются:</li>
        </ul>
        <ol>
            <li>акт о несчастном случае на производстве, составленный по форме, утвержденной постановлением Минтруда
                России от 24 октября 2002 г. N 73, или акт о случае профессионального заболевания, составленный по
                форме, утвержденной постановлением Правительства Российской Федерации от 15 декабря 2000 г. N 967, либо
                заключение государственного инспектора по охране труда, других должностных лиц (органов), осуществляющих
                контроль и надзор за состоянием охраны труда и соблюдением законодательства о труде, о причинах
                повреждения здоровья (Федеральной службы по труду и занятости, Федеральной службы по экологическому,
                технологическому и атомному надзору, Федеральной службы по надзору в сфере транспорта, Федеральной
                службы по надзору в сфере защиты прав потребителей и благополучия человека), либо медицинское заключение
                о профессиональном заболевании, выданные в соответствии с порядком, действовавшим до вступления в силу
                Федерального закона от 24 июля 1998 г. N 125-ФЗ, либо решение суда об установлении факта несчастного
                случая на производстве или профессионального заболевания;
            </li>
            <li>если получатель государственной услуги не работает, представляется трудовая книжка (при наличии) на
                бумажном носителе или в форме электронного документа, подписанного усиленной квалифицированной
                электронной подписью. Копия трудовой книжки, представленная на бумажном носителе, должна быть заверена в
                соответствии с законодательством Российской Федерации.
            </li>
        </ol>

        <ul>
            <li class="fw-bold">дополнительно предоставляется работодателем (страхователем) либо страховщиком:</li>
        </ul>
        <ol>
            <li>заключение органа государственной экспертизы условий труда о характере и об условиях труда пострадавших,
                которые предшествовали несчастному случаю на производстве и профессиональному заболеванию.
            </li>
        </ol>

        <p class="fw-bold">В настоящее время стало возможным подать заявление на проведение медико-социальной экспертизы и на обжалование экспертного решения на Единый портал государственных и муниципальных услуг.</p>

        <p>На Портале государственных услуг (<a href="https://www.gosuslugi.ru/">www.gosuslugi.ru</a>) можно подать заявление на проведение медико-социальной экспертизы с любой целью:</p>
        <ul>
            <li>определение инвалидности,</li>
            <li>определение степени утраты профессиональной трудоспособности,</li>
            <li>изменение причины инвалидности,</li>
            <li>разработка индивидуальной программы реабилитации инвалида,</li>
            <li>разработка программы реабилитации пострадавшего,</li>
            <li>установление причины смерти инвалида.</li>
        </ul>

        <p>Через Портал можно также подать заявление на обжалование экспертного решения бюро ФКУ «Главное бюро МСЭ по Томской области» и экспертных составов Главного бюро, в т.ч. в Федеральное бюро.</p>
        <p>Адрес ФКУ «Главное бюро медико-социальной экспертизы по Томской области» Минтруда и социальной защиты РФ – 634009, Томская обл., г. Томск, ул. Бердская, д. 27. Телефон администратора — 8(3822) 401-900</p>
        <p>Остановка общественного транспорта — «ул. Бердская»</p>
        <p>Проезд автобусами — №№ 5, 12, 17, 20, 33, 38, троллейбус №2.</p>
        <p>С более подробной информацией по организации медико-социальной экспертизы в Томской области можно ознакомиться на официальном сайте ФКУ «Главное бюро медико-социальной экспертизы по Томской области» Министерства труда и социальной защиты Российской Федерации: <a href="http://mse.tomsk.ru/">http://mse.tomsk.ru/</a></p>
    </div>

</section>
{% endblock %}


