{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="container pt-5 pb-5">
    <h4 class="text-uppercase mb-5">ЗАПИСЬ НА ПРИЕМ</h4>
    <div>
        <p class="fw-bold mb-0">Уважаемые Пациенты!</p>
        <p>Записаться на прием, Вы можете несколькими способами:</p>
        <ol>
            <li>В регистратуре (пн-пт: 07.30-20.00)</li>
            <li>По телефону: 904-304</li>
            <li>
                В сети Интернет через:
                <ul>
                    <li>
                        <a href="https://er.mis.zdrav.tomsk.gov.ru">Электронную регистратуру</a>
                    </li>
                    <li>
                        <a href="https://www.gosuslugi.ru/">«Портал Государственных услуг» по адресу</a>
                    </li>
                </ul>
            </li>
        </ol>
    </div>
    <div class="mt-5">
        <p>
            Уведомляем Вас, что <span class="fw-bold">запись на прием</span> к терапевтам и узким специалистам, а
            так же выдача результатов
            анализов осуществляется только <span class="fw-bold">при наличии полиса ОМС и паспорта</span> (согласно
            ст.16 ФЗ № 326 от 29.11.10
            «Об обязательном медицинском страховании граждан в РФ», ФЗ №323 от 21.11.11 «Об охране здоровья граждан»
            и ФЗ №152 от 27.02.06 «О защите персональных данных»)
        </p>
        <p>
            <span class="fw-bold">ВНИМАНИЕ!</span> С 16.01.18 изменен порядок записи к врачу-ревматологу! С целью
            повышения информативности
            консультации и качества медицинских услуг, прием врача-ревматолога осуществляется только по направлению
            участкового терапевта!
        </p>
    </div>
    <div class="mt-5">
        <h5>Вне очереди обслуживаются</h5>
        <ol>
            <li>Инвалиды и участники Великой Отечественной войны.</li>
            <li>Лица, награжденные знаком «Житель блокадного Ленинграда».</li>
            <li>Герои Социалистического труда, полные кавалеры ордена Трудовой Славы.</li>
            <li>Герои Советского Союза, герои Российской Федерации и полные кавалеры ордена Славы.</li>
            <li>Инвалиды I и II (нерабочей) групп.</li>
            <li>Призывники</li>
            <li>Беременные</li>
            <li>Участники ликвидации аварии ЧАЭС</li>
            <li>Почетные доноры</li>
        </ol>
    </div>
    <div class="mt-5">
        <h5>Для записи на консультацию к специалистам и для проведения диагностических
            исследований и манипуляций по фондодержанию необходимо при себе иметь документы:</h5>
        <ol>
            <li>Направление по форме 057/у (установленной Приказом Минздравсоцразвития РФ от 22.11.2004 №255);</li>
            <li>Полис ОМС;</li>
            <li>Документ, удостоверяющий личность.</li>
        </ol>
    </div>
</section>
{% endblock %}


