{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="container pt-5 pb-5">
    <h4 class="mb-5">ОТДЕЛЕНИЕ КЛИНИЧЕСКОЙ ФАРМАКОЛОГИИ</h4>
    <div>
        <p>
            Отделение клинической фармакологии открыто в июле 2018г, на базе службы клинической фармакологии, работающей
            с 2006 года. Отделение клинической фармакологии проводит оценку эффективности фармакотерапии у пациентов
            «Городской клинической больнице №3 им. Б.И.Альперовича Отделение является модератором
            фармако-микробиологического мониторинга, участвует в создании оптимального ассортимента медикаментов, для
            получения максимального качества лечения с минимальным количеством побочных реакций на лекарственные
            препараты. Образовано в 2018-м году
            Врачи отделения — клинические фармакологи — проводят оценку соответствия проводимой терапии стандартам и
            протоколам лечения, рациональности выбора базового лекарственного средства, адекватности дозового и
            курсового режима, адекватности лекарственной нагрузки, наличия нежелательных побочных явлений.
            «Организован амбулаторный прием пациентов по вопросам коррекции фармакотерапии в случае одномоментного
            назначения нескольких лекарственных средств, неэффективности и появлении побочных эффектов от их
            использования, или иным вопросам, связанным с индивидуальными особенностями использования лекарственных
            средств»
        </p>
    </div>
</section>
{% endblock %}


