{% extends 'main/layout.html' %}

{% block title %}Памятка гражданам о действиях при установлении уровней террористической опасности{% endblock %}

{% block content %}
{% load static %}
<section class="container pt-5 pb-5">
    <h4 class="text-uppercase mb-5">ПАМЯТКА ГРАЖДАНАМ О ДЕЙСТВИЯХ ПРИ УСТАНОВЛЕНИИ УРОВНЕЙ ТЕРРОРИСТИЧЕСКОЙ
        ОПАСНОСТИ</h4>
    <div>
        <p>В целях своевременного информирования населения о возникновении угрозы террористического акта могут
            устанавливаться уровни террористической опасности.</p>
        <p>Уровень террористической опасности устанавливается решением председателя антитеррористической комиссии в
            субъекте Российской Федерации, которое подлежит незамедлительному обнародованию в средствах массовой
            информации.</p>
        <p class="fw-bold pt-5">Повышенный «СИНИЙ» уровень устанавливается при наличии требующей подтверждения
            информации о реальной возможности совершения террористического акта</p>
        <p>При установлении «синего» уровня террористической опасности рекомендуется:</p>

        <ol>
            <li>При нахождении на улице, в местах массового пребывания людей, в общественном транспорте обращать
                внимание на:
                <ul>
                    <li>внешний вид окружающих (одежда не соответствует времени года либо создаётся впечатление, что под
                        ней находится какой-то посторонний предмет);
                    </li>
                    <li>странности в поведении окружающих (проявление нервозности, напряжённого состояния, постоянное
                        оглядывание по сторонам, неразборчивое бормотание, попытки избежать встречи с сотрудниками
                        правоохранительных органов);
                    </li>
                    <li>брошенные автомобили, подозрительные предметы (мешки, сумки, рюкзаки, чемоданы, пакеты, из
                        которых могут быть видны электрические приборы, провода и т.п.).
                    </li>

                </ul>
            </li>
            <li>Обо всех подозрительных ситуациях незамедлительно сообщать сотрудникам правоохранительных органов.</li>
            <li>Оказывать содействие правоохранительным органам.</li>
            <li>Относиться с пониманием и терпением к повышенному вниманию правоохранительных органов.</li>
            <li>Не принимать от незнакомых людей свёртки, коробки, сумки, рюкзаки, чемоданы и другие сомнительные
                предметы даже на временное хранение, а также для транспортировки. При обнаружении подозрительных
                предметов не приближаться к ним, не трогать, не вскрывать и не передвигать.
            </li>
            <li>Разъяснить в семье пожилым людям и детям, что любой предмет, найденный на улице или в подъезде, может
                представлять опасность для их жизни.
            </li>
            <li>Быть в курсе происходящих событий (следить за новостями по телевидению, радио, сети «Интернет»).</li>
        </ol>
    </div>

    <div class="mt-5">
        <p class="fw-bold mb-0">Высокий «ЖЁЛТЫЙ» уровень устанавливается при наличии подтверждённой информации о
            реальной возможности совершения террористического акта</p>
        <p>Наряду с действиями, осуществляемыми при установлении «синего» уровня террористической опасности,
            рекомендуется:</p>
        <ol>
            <li>По возможности воздержаться от посещения мест массового пребывания людей.</li>
            <li>При нахождении на улице (в общественном транспорте) иметь при себе документы, удостоверяющие личность.
                Предоставлять их для проверки по первому требованию сотрудников правоохранительных органов.
            </li>
            <li>При нахождении в общественных зданиях (торговых центрах, вокзалах, аэропортах и т.п.) обращать внимание
                на расположение запасных выходов и указателей путей эвакуации при пожаре.
            </li>
            <li>Обращать внимание на появление незнакомых людей и автомобилей на прилегающих к жилым домам
                территориях.
            </li>
            <li>Воздержаться от передвижения с крупногабаритными сумками, рюкзаками, чемоданами.</li>
            <li>Обсудить в семье план действий в случае возникновения чрезвычайной ситуации:

                <ul>
                    <li>определить место, где вы сможете встретиться с членами вашей семьи в экстренной ситуации;</li>
                    <li>удостовериться, что у всех членов семьи есть номера телефонов других членов семьи, родственников
                        и экстренных служб.
                    </li>

                </ul>
            </li>
        </ol>
    </div>


    <div class="mt-5">
        <p class="fw-bold mb-0">Критический «КРАСНЫЙ» уровень устанавливается при наличии информации о совершённом
            террористическом акте либо о совершении действий, создающих непосредственную угрозу террористического
            акта</p>
        <p>Наряду с действиями, осуществляемыми при установлении «синего» уровня террористической опасности,
            рекомендуется:</p>

        <ol>
            <li>Организовать дежурство жильцов вашего дома, которые будут регулярно обходить здание, подъезды, обращая
                особое внимание на появление незнакомых лиц и автомобилей, разгрузку ящиков и мешков.
            </li>
            <li>Отказаться от посещения мест массового пребывания людей, отложить поездки по территории, на которой
                установлен уровень террористической опасности, ограничить время пребывания детей на улице.
            </li>
            <li>Подготовиться к возможной эвакуации:
                <ul>
                    <li>Подготовиться к возможной эвакуации:</li>
                    <li>подготовить запас медицинских средств, необходимых для оказания первой медицинской помощи;</li>
                    <li>заготовить трёхдневный запас воды и продуктов питания для членов семьи.</li>
                </ul>
            </li>
            <li>Оказавшись вблизи или в месте проведения террористического акта, следует как можно скорее покинуть его
                без паники, избегать проявлений любопытства, при выходе из опасной зоны постараться помочь покинуть её
                пострадавшим, не подбирать предметы и вещи, не проводить видео- и фотосъёмку.
            </li>
            <li>Держать постоянно включёнными телевизор, радиоприёмник или радиоточку.</li>
            <li>Не допускать распространения непроверенной информации о совершении действий, создающих непосредственную
                угрозу террористического акта.
            </li>

        </ol>
    </div>
    <div class="mt-5">
        <h5 class="fw-bold ">Внимание!</h5>
        <p>В качестве маскировки для взрывных устройств террористами могут использоваться обычные бытовые предметы: коробки, сумки, портфели, сигаретные пачки, мобильные телефоны, игрушки.</p>
        <p>Объясните это вашим детям, родным и знакомым.</p>
        <p>Не будьте равнодушными, ваши своевременные действия могут помочь предотвратить террористический акт и сохранить жизни окружающих.</p>
    </div>
</section>
{% endblock %}


