{% extends 'main/layout.html' %}

{% block title %}Показатели качества и доступности медицинской помощи{% endblock %}

{% block content %}
{% load static %}
<section class="container pb-5 pt-5">
    <h4 class="text-uppercase mb-5">ПОКАЗАТЕЛИ КАЧЕСТВА И ДОСТУПНОСТИ МЕДИЦИНСКОЙ ПОМОЩИ</h4>
    <div class="pb-5">
        <p class="fw-bold">Нормативы объемов медицинской помощи</p>
        <p>(<a href="{% static 'main/docx/pocazatel_kachestva/П644а2021.pdf' %}">Программа государственных гарантий</a>
            бесплатного оказания гражданам Российской Федерации медицинской помощи на
            территории Томской области на 2021 год)
        </p>
        <p>Объемы медицинской помощи на 2021 год установлены приложением № 7 к настоящей Программе.</p>
    </div>
</section>
{% endblock %}


