{% extends 'main/layout.html' %}

{% block title %}Подготовка к диагностическим исследованиям{% endblock %}

{% block content %}
{% load static %}
<section class="container pb-5 pt-5">
    <h4 class="text-uppercase mb-3 pb-3">ПОДГОТОВКА К ДИАГНОСТИЧЕСКИМ ИССЛЕДОВАНИЯМ</h4>
    <div class="mb-4">
        <p class="fw-bold">Что нужно?</p>
        <ul>
            <li>Общий анализ мочи</li>
            <li>Анализ кала</li>
            <li>Общий анализ крови</li>
            <li>Холестерин и липопротеиды</li>
            <li>Мочевая кислота</li>
            <li>Анализ кала на выявление глистных инвазий</li>
            <li>Подготовка к рентгенографии поясничного отдела позвоночника</li>
            <li>Подготовка к рентгеноскопии желудка</li>
            <li>Подготовка к УЗИ малого таза, мочевого пузыря</li>
            <li>Подготовка к УЗИ органов брюшной полости</li>
            <li>УЗИ щитовидной железы, молочных желез</li>
            <li>Суточное мониторирование ЭКГ, АД</li>
            <li>Эхокардиография (УЗИ сердца)</li>
            <li>Подготовка к дуоденальному зондированию</li>
            <li>Подготовка к эзофагогастродуоденоскопии (ЭГДС)</li>
            <li>Подготовка к колоноскопическому обследованию (КФС)</li>
        </ul>

    </div>
</section>
{% endblock %}


