{% extends 'main/layout.html' %}

{% block title %}Порядок лекарственного обеспечения льготных категорий граждан{% endblock %}

{% block content %}
<section class="container pb-5 pt-5">
    <h4 class="text-uppercase mb-5 pb-3">ПОРЯДОК ЛЕКАРСТВЕННОГО ОБЕСПЕЧЕНИЯ ЛЬГОТНЫХ КАТЕГОРИЙ ГРАЖДАН</h4>

    <div class="mb-4">
        <p class="fw-bold">При обращении в лечебно-профилактическое учреждение за лекарственной помощью гражданин
            предъявляет:</p>
        <ul>
            <li>документ, удостоверяющий личность;</li>
            <li>страховой полис обязательного медицинского страхования;/li>
            <li>документ, подтверждающий право на получение набора социальных услуг (удостоверение участника Великой
                Отечественной войны; справку МСЭ, подтверждающую факт установления инвалидности, и т.п.);
            </li>
            <li> справку от Пенсионного фонда РФ в г. Томске и Томской области, подтверждающую право на получение набора
                социальных услуг.
            </li>
        </ul>

        <p class="fw-bold">Выписка льготных рецептов на лекарственные препараты и изделия медицинского назначения
            осуществляется:</p>
        <ul>
            <li>по месту прикрепления граждан для медицинского обслуживания;</li>
            <li>по результатам осмотра больного при наличии медицинских показаний;</li>
            <li>При условии наличия лекарственных препаратов в утверждённых стандартах медицинской помощи и льготных
                перечнях лекарственных средств, отпускаемых отдельным категориям граждан.
            </li>
        </ul>
    </div>
</section>
{% endblock %}


