{% extends 'main/layout.html' %}

{% block title %}Правила внутреннего распорядка{% endblock %}

{% block content %}
{% load static %}
<section class="container pb-5 pt-5">
        <h4 class="text-uppercase mb-5 pb-3">
            ПРАВИЛА ВНУТРЕННЕГО РАСПОРЯДКА ДЛЯ ПОТРЕБИТЕЛЕЙ УСЛУГ ОГАУЗ «ГОРОДСКАЯ КЛИНИЧЕСКАЯ БОЛЬНИЦА №3 ИМ. Б.И.АЛЬПЕРОВИЧА»
        </h4>
        <div>
            <img src="{% static 'main/img/pravila_vnutrennego_rasporyadka/first_page.png' %}" alt="Правила внутреннего распорядка">
            <img src="{% static 'main/img/pravila_vnutrennego_rasporyadka/second_page.png' %}" alt="Правила внутреннего распорядка">
        </div>
    </section>
{% endblock %}


