{% extends 'main/layout.html' %}

{% block title %}История{% endblock %}

{% block content %}
<section class="container pb-5 pt-5">
        <h4 class="text-uppercase mb-5 pb-3">РЕЖИМ РАБОТЫ</h4>
        <div class="mb-4">
            <h5>Поликлиника:</h5>
            <p>Пн. — Пт: 07:30-20:00</p>
            <p>Сб. Неотложная помощь (09:00-18:00)</p>
            <p>ВС. Неотложная помощь (09:00-15:00)</p>
        </div>
        <div class="mb-4">
            <h5>Оказание экстренной помощи круглосуточно:</h5>
            <p>ЛОР 8 (382-2) 41-98-79</p>
            <p>Инфекционное 8 (382-2) 41-87-74</p>
            <p>Пункт амбулаторно- травматологической помощи 8 (382-2) 41-98-49</p>
        </div>
        <div class="mb-4">
            <h5>Расписание проведения диспансеризации:</h5>
            <p>Понедельник-Пятница: 08:00-20:00</p>
            <p>Суббота: 09:00-14:00 по предварительной записи</p>
            <p>Телефон регистратуры 904-304</p>
        </div>
    </section>
{% endblock %}


