{% extends 'main/layout.html' %}

{% block title %}Школа здоровья{% endblock %}

{% block content %}
{% load static %}
<section class="container pb-3 pt-5">
    <h4 class="text-uppercase mb-5">ШКОЛА ЗДОРОВЬЯ</h4>
    <p>Уважаемые пациенты!</p>
    <div class="mb-5">
        <p>Приглашаем Вас присоединиться к работе «Школы здоровья», разработанных для Вас по различным терапевтическим
            заболеваниям по темам:</p>

        <ul>
            <li>Заболевания сердечно-сосудистой системы (для пациентов с гипертонической болезнью)
            </li>
            <li>Заболевания опорно-двигательного аппарата (для пациентов с остеохондрозом)</li>
            <li>Заболевания желудочно-кишечного такта (для пациентов с язвенной болезнью желудка и 12-пёрстной кишки)
            </li>
            <li>Мужское здоровье (заболевания предстательной железы)</li>
            <li>Метаболический синдром (пациенты с гипертонической болезнь, сахарный диабетом или преддиабетом и
                повышенной массой тела)
            </li>
            <li>Здоровый образ жизни</li>
        </ul>
        <a href="{% static 'main/docx/school/Бланк-для-записи-в-школу-здоровья.docx' %}">Бланк для записи в школу
            здоровья</a>
    </div>

    <div>
        <p>Школы проводит врач-терапевт высшей категории отделения профилактики Щербакова Ираида Васильевна.</p>
        <p>Если Вы здоровы, но имеете отягощенную наследственность по вышеперечисленным заболеваниям или заболевания
            имеются у Ваших родственников, мы также ждем Вас на наших школах здоровья.</p>
        <p>При проведении «Школ здоровья» по заболеваниям сердечно-сосудистой системы, опорно-двигательного аппарата,
            метаболическом синдроме проводятся занятия по лечебной физкультуре, в частности, при заболеваниях
            остеохондрозом отрабатывается гимнастика «крокодил» Аллоиз Раба для применения в домашних условиях. Занятия
            по лечебной физкультуре проводятся в кабинете лечебной гимнастики физиотерапевтического отделения.</p>
        <p>Записаться на занятия можно, заполнив бланк записи на «Школу здоровья» в холле поликлиники, либо скачав его с
            сайта, либо на приеме у участкового врача. Бланк необходимо сдать в регистратуру.</p>
        <p>Мы рады будем видеть Вас на наших теоретических и практических занятиях в актовом зале ОГАУЗ «ГОРОДСКАЯ
            КЛИНИЧЕСКАЯ БОЛЬНИЦА №3 ИМ. Б.И. АЛЬПЕРОВИЧА» по адресу: г. Томск, ул. Нахимова, 3</p>

        <p>С уважением врач-терапевт высшей категории И.В. Щербакова</p>
        <img src="{% static 'main/img/school/Sherbakova.jpg' %}">
    </div>

</section>
{% endblock %}



