{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
{% load static %}
<section class="container pt-5 pb-5">
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>№</th>
            <th>Наименование</th>
            <th>Информация</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Аптека № 69</td>
            <td>Аптека № 69 г. Томск, ул. Елизаровых, 8, ст. 1, тел. 42–32–65, 42–33–11</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Элита-М</td>
            <td>Элита-М, г. Томск, ул. Нахимова, 3, 41-38-76</td>
        </tr>
    </table>
</section>
{% endblock %}


