{% extends 'main/layout.html' %}

{% block title %}Сведения о регистрации и учредителях{% endblock %}

{% block content %}
<section class="container pt-5 pb-5">
    <h4 class="mb-5">СВЕДЕНИЯ О РЕГИСТРАЦИИ И УЧРЕДИТЕЛЯХ</h4>
    <div>
        <p>
            Дата регистрации учреждения: 5 апреля 1995 г.
        </p>
        <p>
            Учредителем учреждения является Томская область. От имени Томской области функции и полномочия учредителя
            Учреждения в пределах своей компетенции осуществляют Администрация Томской области, уполномоченный областной
            орган по управлению областным государственным имуществом, а также Департамент здравоохранения Томской
            области.
        </p>
    </div>
</section>
{% endblock %}


