{% extends 'main/layout.html' %}

{% block title %}Полезные телефоны и ссылки{% endblock %}

{% block content %}
{% load static %}
<section class="container pb-5 pt-5">
    <h4 class="text-uppercase mb-5">ПОЛЕЗНЫЕ ТЕЛЕФОНЫ И ССЫЛКИ</h4>
    <div class="pb-5">
        <div class="pb-5">
            <p class="text-center fw-bold">Горячие линии</p>
            <p>Круглосуточная горячая линия по вопросам работы Единой электронной регистратуры, по вопросам качества
                оказания медицинской помощи и лекарственного обеспечения населения, по вопросам диспансеризации, по
                вопросам
                профилактики клещевых инфекций:</p>
            <p class="text-center">8 (3822) 516-616 (бесплатно для жителей Томска)</p>
            <p class="text-center">8 (800)-350-88-50 (бесплатно для жителей районов Томской области)</p>
            <p>По вопросам оказания анальгезирующей терапии пациентам с хроническим болевым синдромом на территории
                Томской
                области: (3822) 90-70-13 (круглосуточно)</p>
            <p>Для приема обращений граждан о нарушении порядка выписки обезболивающих препаратов: 8 (800)-500-18-35
                (звонок
                бесплатный).</p>
            <a href="https://roszdravnadzor.gov.ru/services/complaints">Форма для подачи жалобы о нарушении порядка
                назначения и выписки обезболивающих препаратов</a>
        </div>
        <a href="https://minzdrav.gov.ru/">Министерство здравоохранения Российской Федерации</a>
        <p>Телефон справочной службы: (495) 628-44-53, (495) 627-29-44</p>
        <p>Многоканальный телефон: (495) 627-24-00</p>

        <br>
        <a href="https://zdrav.tomsk.ru/">Департамент здравоохранения Томской области </a>
        <p>634041, г. Томск, пр. Кирова, д. 41, телефон: (3822) 999-101; факс: (3822) 516-035</p>
        <p>e-mail: ozo@dzato.tomsk.ru</p>
        <br>
        <a href="https://www.ttfoms.tomsk.ru/"> Территориальный фонд обязательного медицинского страхования Томской
            области</a>
        <p>Почтовый адрес: 634034, ул. Учебная, д. 39/1, г. Томск, Томская область.</p>
        <p>Приемная директора: (3822) 418-000.</p>
        <p>Телефон «горячей линии» — (3822) 418-044</p>
        <br>
        <a href="http://70.rospotrebnadzor.ru/">Управление Федеральной службы по надзору в сфере защиты прав
            потребителей и благополучия человека по Томской области</a>
        <p>634021, г. Томск, пр. Фрунзе, 103а, телефон приемной: 8 (3822) 26-03-90.</p>
        <p>Телефон «горячей линии» — 8-800-350-44-55</p>
        <br>
        <a href="https://70reg.roszdravnadzor.gov.ru/">Территориальный орган Федеральной службы по надзору в сфере
            здравоохранения по Томской области</a>
        <p>г. Томск, ул. Белинского,д. 19, телефон (3822)53-49-42</p>

        <br>
        <a href="https://www.makcm.ru/">ЗАО «МАКС-М»</a>
        <p>Юридический адрес: 634009, г.Томск, ул.Маркса,15,</p>
        <p>Почтовый адрес: 634009 г.Томск, ул.Красноармейская,68/1, телефон (3822) 49-71-24, факс (3822) 49-71-24</p>
        <br>
        <a href="https://www.sogaz.ru/?from=gilproekt">АО «СОГАЗ»</a>
        <p>Юридический адрес: 634050, Томск, ул. Набережная р.Ушайки, 18-Б,</p>
        <p>Почтовый адрес: 634050, Томск, ул.Загорная, 4, телефон (3822) 28-49-13, факс (3822) 28-49-13</p>
        <br>
        <a href="http://profilaktika.tomsk.ru/">ОГБУЗ «Центр медицинской профилактики»</a>
        <p>г. Томск, ул. Красноармейская, 68, телефон (3822) 55-02-07</p>

    </div>
</section>
{% endblock %}


