{% extends 'main/layout.html' %}

{% block title %}Условия оказания медицинской помощи{% endblock %}

{% block content %}
{% load static %}
<section class="container pb-5 pt-5">
    <h4 class="text-uppercase mb-5">УСЛОВИЯ ОКАЗАНИЯ МЕДИЦИНСКОЙ ПОМОЩИ</h4>
    <div>
        <p class="fw-bold">Перечень видов, форм и условий оказания медицинской помощи</p>
        <p>
            (<a href="{% static 'main/docx/school/programs.pdf' %}">Программа государственных гарантий</a> бесплатного
            оказания гражданам Российской Федерации медицинской помощи
            на территории Томской области на 2021 год)
        </p>
    </div>
    <div>
        <p>В рамках Программы (за исключением медицинской помощи, оказываемой в рамках клинической апробации) бесплатно
            предоставляются:</p>
        <ul>
            <li>Первичная медико-санитарная помощь;</li>
            <li>
                Специализированная, в том числе высокотехнологичная, медицинская помощь;
            </li>
            <li>
                Скорая, в том числе скорая специализированная, медицинская помощь.
            </li>
        </ul>
    </div>

</section>
{% endblock %}


