{% extends 'main/layout.html' %}

{% block title %}Запись на приём{% endblock %}

{% block content %}
{% load static %}
<section class="container pb-5 pt-5">
    <h4 class="text-uppercase mb-3 pb-3">ЗАПИСЬ НА ПРИЕМ</h4>
    <div class="mb-4">
        <h5 class="mb">Уважаемые Пациенты!</h5>
        <p>Записаться на прием, Вы можете несколькими способами:</p>
        <ol>
            <li>В регистратуре (пн-пт: 07.30-20.00)</li>
            <li>По телефону: 904-304</li>
            <li>В сети Интернет через:</li>
        </ol>
        <div class="pb-3">
            <dl>
                <dd>— Электронную регистратуру <a href="https://er.mis.zdrav.tomsk.gov.ru/">https://er.mis.zdrav.tomsk.gov.ru/</a>
                    <a href="{% static 'main/docx/zapis_na_priem/EdinayaRegistratura.doc' %}">(Скачать инструкцию)</a>
                </dd>
                <dd>— «Портал Государственных услуг» по адресу <a
                        href="https://www.gosuslugi.ru/">https://www.gosuslugi.ru/</a>
                    <a>(Скачать инструкцию)</a></dd>
                <br>
                <dd><p>Инструкция:</p></dd>
                <dd><a href="{% static 'main/docx/zapis_na_priem/Регистрация-на-портале-Госулуги.doc' %}">Краткая
                    инструкция
                    по
                    регистрации на портале «Госуслуги»</a></dd>
                <dd><a href="{% static 'main/docx/zapis_na_priem/Инструкция-по-регистрации-полная.pdf' %}">Полная
                    инструкция
                    по
                    регистрации на портале «Госуслуги»</a></dd>
            </dl>
        </div>
        <div class="mb-4 pb-3">
            <p>Уведомляем Вас, что <b>запись на прием</b> к терапевтам и узким специалистам, а так же выдача результатов
                анализов осуществляется <b>только при наличии полиса ОМС и паспорта</b> (согласно ст.16 ФЗ № 326 от
                29.11.10 «Об обязательном медицинском страховании граждан в РФ», ФЗ №323 от 21.11.11 «Об охране
                здоровья граждан» и ФЗ №152 от 27.02.06 «О защите персональных данных»)</p>

        </div>
        <div class="mb-4 pb-3">
            <h5 class="mb">Вне очереди обслуживаются:</h5>
            <dl>
                <dd>Инвалиды и участники Великой Отечественной войны.</dd>
                <dd>Лица, награжденные знаком «Житель блокадного Ленинграда».</dd>
                <dd>Герои Социалистического труда, полные кавалеры ордена Трудовой Славы</dd>
                <dd>Герои Советского Союза, герои Российской Федерации и полные кавалеры ордена Славы.</dd>
                <dd>Инвалиды I и II (нерабочей) групп.</dd>
                <dd>Призывники</dd>
                <dd>Беременные</dd>
                <dd>Участники ликвидации аварии ЧАЭС</dd>
                <dd>Почетные доноры</dd>
            </dl>
        </div>
        <div>
            <h5 class="mb">Для записи на консультацию к специалистам и для проведения диагностических исследований и
                манипуляций по фондодержанию необходимо при себе иметь документы:</h5>
            <ol>
                <li>Направление по форме 057/у (установленной Приказом Минздравсоцразвития  РФ от 22.11.2004 №255);</li>
                <li>Полис ОМС;</li>
                <li>Документ, удостоверяющий личность.</li>
            </ol>
        </div>
    </div>
</section>
{% endblock %}


